
<h4><%=current_user.full_name%></h4>
<%= link_to "New Travels", new_user_travel_path(current_user), class: "btn btn-outline-primary"%>
    <h1>Long Travels</h1>
 
 
<%= render partial: 'travel', locals: { something: @long }%>
    <h1>Short Travels</h1>


<%= render partial: 'travel', locals: { something: @short }%>

       
      