<div class="container">
<% if flash[:message] %>
  <div class="field_with_errors"><%= flash[:message] %></div>
<% end %>

<% if object.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><h5><%= message %>.</h5></li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>