<%= render partial: 'sessions/errors', locals: { object: @user }%>

<h3> Ok <%=@user.first_name%> edit here </h3>
<%= render partial: 'form', locals: { object: @user, something: edit_user_path }%>




