<h1>this should show</h1>

 <p><%= link_to "Log out", logout_path, method: "delete" %></p>
  
  <b>Name: </b><%= @user.full_name%> <br>


  <p> so you want to show persons current rig and potentially photo of the rig</p>
  <p> so you want to show persons current recent posts</p>
  <p> that is with the option of publicly posting it or just friends</p>